# =========================
# Backend - Spring Boot
# =========================
api_backend/api_backend/target/
api_backend/api_backend/.mvn/
api_backend/api_backend/dependency-reduced-pom.xml

# IntelliJ IDEA
api_backend/.idea/
api_backend/api_backend/.idea/
*.iml
.idea/

# =========================
# Secrets / Environment
# =========================
.env
*.env

# =========================
# Flutter
# =========================
appkc/build/
appkc/.dart_tool/
appkc/.idea/
appkc/android/.gradle/
appkc/android/local.properties
appkc/ios/Flutter/.last_build_id

# =========================
# Generales
# =========================
.DS_Store
*.log
# Terraform - valores sensibles
api_backend/api_backend/terraform/terraform.tfvars
api_backend/api_backend/terraform/.terraform/
api_backend/api_backend/terraform/*.tfstate
api_backend/api_backend/terraform/*.tfstate.*