# =========================
# Backend - Spring Boot
# =========================
api_backend/api_backend/target/
api_backend/api_backend/.idea/
api_backend/api_backend/*.iml
api_backend/api_backend/.mvn/

# Archivos generados por Maven Shade
api_backend/api_backend/dependency-reduced-pom.xml

# =========================
# Secrets / Environment
# =========================
.env
*.env
api_backend/api_backend/.env

# =========================
# IDE
# =========================
.idea/
*.iml
.vscode/
api_backend/.idea/

# =========================
# Flutter
# =========================
appkc/build/
appkc/.dart_tool/
appkc/.idea/
appkc/android/.gradle/
appkc/android/local.properties
appkc/ios/Flutter/.last_build_id

# =========================
# Generales
# =========================
.DS_Store
*.log
